<!-- add another link-bar
 the currently selected link will get another class through javascript
-->
<div class="flexNav1" id="Nav1">
    <a class="ItemNav1" href="clubs" onclick="return goto(this);"><%= __('Clubs') %></a>
    <a class="ItemNav1" href="TODO"><%= __('TODO') %></a>
    <a class="ItemNav1" href="TODO"><%= __('TODO') %></a>
    <a class="ItemNav1" href="TODO"><%= __('TODO') %></a> <!-- This will actaully be part of the stadium/site configuration in the future -->
    <a class="ItemNav1" href="TODO"><%= __('TODO') %></a>
</div>
<div id="child2">
    <%- child2 %>
</div>