<!-- add another link-bar
 the currently selected link will get another class through javascript
-->
<div class="flexNav1" id="Nav1">
    <a class="ItemNav1" href="athletes" onclick="return goto(this);"><%= __('Athletes') %></a><!-- eventually include startlist here and also the personal part of print receipt-->
    <a class="ItemNav1" href="relays" onclick="return goto(this);"><%= __('Relays') %></a>
    <a class="ItemNav1" href="teams" onclick="return goto(this);"><%= __('Teams') %></a>
    <a class="ItemNav1" href="listcreation" onclick="return goto(this);"><%= __('Create lists') %></a>
</div>
<div id="child2">
    <%- child2 %>
</div>