<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1"> <!-- make sure mobile browsers do nto lie about their width and then do some ugly scaling -->
        <title><%= title %></title> 
        <link rel="icon" type="image/x-icon" href="/static/favicon_quickNdirty.ico">
        <!--<link rel="icon" type="image/x-icon" href="favicon.ico">-->
        <script src="/static/roomManager.js" type="text/javascript"></script>
        <script src="/static/roomClient.js" type="text/javascript"></script>
        <script src="/static/main.js" type="text/javascript"></script> 
        <script src="/static/wsProcessorBrowser.js" type="text/javascript"></script>
        <!--<script src="/static/vue.js" type="text/javascript"></script>-->
        <script src="/static/vue3.global.js" type="text/javascript"></script>
        <script src="/static/VTableComponent2.js" type="text/javascript"></script>
        <!--<script src="/static/Sortable.js" type="text/javascript"></script><!-- this is an adapted version which should provide replacmeent instead of swapping with the additional replacmeent module-->
        <script src="/static/Sortable.min.js" type="text/javascript"></script><!-- the backbone of vuedraggable, which allows to sort arrays by drag and drop; MUST be included before vuefraggable! -->
        <!--<script src="/static/vuedraggable.umd.min.js" type="text/javascript"></script>-->
        <script src="/static/vuedraggable.umd.js" type="text/javascript"></script>
        <script src="/static/ajv.min.js"></script>

        <!-- printing stuff here: -->
        <script src="/static/pdf-lib.js"></script>

        <script type='text/javascript'>
        // the current page-structure representation here
        var initPages = <%- pages %>;
        var initPageName = "<%- pageName %>";
        </script>
        <!--<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">-->
        <link rel="stylesheet" type="text/css" href="/static/styling.css">
    </head>
    <body onload = "loadMe()" onbeforeunload="unloadMe()">
        <%- body %>

        <%- include('roomManagerDrawings') %>
    </body>
</html>