<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1"> <!-- make sure mobile browsers do nto lie about their width and then do some ugly scaling -->
        <title><%= title %></title> 
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon_quickNdirty.ico">
        <link rel="icon" type="image/x-icon" href="/static/favicon_quickNdirty.ico">
        <!--<link rel="icon" type="image/x-icon" href="favicon.ico">-->
        <script src="/static/roomManager.js" type="text/javascript"></script>
        <script src="/static/roomClient.js" type="text/javascript"></script>
        <script src="/static/main.js" type="text/javascript"></script> 
        <script src="/static/wsProcessorBrowser.js" type="text/javascript"></script>
        <!--<script src="/static/vue.js" type="text/javascript"></script>-->
        <script src="/static/vue3.global.js" type="text/javascript"></script>
        <script src="/static/VTableComponent2.js" type="text/javascript"></script>
        <script src="/static/Sortable.min.js" type="text/javascript"></script><!-- the backbone of vuedraggable, which allows to sort arrays by drag and drop; MUST be included before vuefraggable! -->
        <script src="/static/vuedraggable.umd.min.js" type="text/javascript"></script>
        <script src="/static/ajv.min.js"></script>
        <script type='text/javascript'>
        // the current page-structure representation here
        var initPages = <%- pages %>;
        var initPageName = "<%- pageName %>";
        </script>
        <!--<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">-->
        <link rel="stylesheet" type="text/css" href="/static/styling.css">
    </head>
    <body onload = "loadMe()" onbeforeunload="unloadMe()">
        <div class="flexNav1" id="Nav1">
            <a class="ItemNav1" onclick="return goto(this); return false;" href="configuration"><%= __('Configuration') %></a>
            <a class="ItemNav1" onclick="return goto(this); return false;" href="inscriptions"><%= __('Inscriptions') %></a>
            <a class="ItemNav1" onclick="return goto(this)" href="competition"><%= __('Competition') %></a>
            <a class="ItemNav1" onclick="return goto(this)" href="speaker"><%= __('Speaker') %></a>
            <a class="ItemNav1" onclick="return goto(this)" href="production"><%= __('Production') %></a>
            <a class="ItemNav1" onclick="return goto(this)" href="admin"><%= __('Administration') %></a>
            <a class="ItemNav1" href="/<%= _lang %>/meetingAdministration"><%= __('Server administration') %></a>
            <a class="ItemNav1" onclick="return goto(this)" href="login"><%= __('Log in') %></a><!-- TODO: must also be able to handle logout!-->
            <a class="ItemNav1" onclick="return goto(this)" href="logout"><%= __('Log out') %></a>
            <a id="aConnection" class="Conn" onclick="rM.data.wsWindowShown=true;" ><%= __('Connection')%><span class="glyphicon glyphicon-transfer"></span></a><!-- replace by either settings symbol (gear) or wifi symbol finally-->
        </div>
        <div id="child1"><%- child1 %></div> <!-- id and ejs replacement must be the same-->

        
        <%- include('roomManagerDrawings') %>

    </body>
</html>